*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


nav ul{
    float: right;
    margin-right: 130px;

}


nav{
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 130px;

}

nav ul li{
    /* display: inline-block; */
    /* line-height: 80px; */
    margin: 0 20px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: rgb(65, 65, 65);
    text-decoration: none;
}
.image{
    display: flex;
}

.icon a{
    color: white;
}

.icon a:hover{
    color: gray;
}

.form{
    display: inline-block;
}

.divider {
    height: 95%; /* Độ cao của đường thẳng */
    width: 1px; /* Độ rộng của đường thẳng */
    background-color: black; /* Màu của đường thẳng */
    margin: 0 auto; /* Canh giữa */
}

.footer ul{
    display: inline-block;
}